.ranking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}