.todo {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.separate-btn {
    width: 100%;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 15px;
}

.task-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
    padding: 30px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.btn {
    display: flex;
    align-items: center;
}

.btn3 button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    color: #fff;
}

.btn3 button:hover {
    background-color: aqua;
    color: #000;
}

.btn2 button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    color: #fff;
}

.btn2 button:hover {
    background-color: red;
    color: #000;
}
.comment-btn {
    background-color: tomato;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.move-btn {
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.line_through {
    text-decoration: line-through;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aqua;
}

.comment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* styles.css */

.comment {
    background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-div {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.comment-div input {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 30px;
}

.btn-send {
   position: relative;
   padding: 10px 22px;
   background: #ccc;
   border-radius: 6px;
   color: #fff;
   border: none;
   font-size: 18px;
   font-weight: 400;
   cursor: pointer;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
}

.btn-send:hover {
    color: black;
    border-radius: 6px;
    background-color: lightgreen;
    transform: scale(1.2);
}

.upload{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}