.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-brand {
    width: 180px;
    height: 150px;
    img {
        width: 100%;
        height: 100%;
    
    }
}

.sidebar-list-item:hover, .notify:hover {
    cursor: pointer;
    background-color: darkgray;
    transition: 0.5s;
    animation-delay: 1ms;
}

.sidebar-list-item a, .notify a {
    width: 100%;
    padding: 1px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}