* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mini-profile-container {
    padding: 20px 30px;
    .profile {
        background-color: aqua;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 20px 30px;
        border-radius: 50px;
        .personal-img img {
            border-radius: 50px;
        }
        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            .personal-details {
                display: flex;
                flex-direction: column;
                gap: 30px;
                p {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 23px;
                }
            }
            .showProfile button {
                width: 250px;
                height: 50px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 23px;
                line-height: 23px;
                border-radius: 20px;
            }
            .showProfile button:hover {
                cursor: pointer;
                transform: scale(1.15);
                transition: 0.5s;
            }
            .showProfile button:not(:hover) {
                transform: scale(1);
                transition: 0.5s;
            }
        }
    }
}